*
{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:whitesmoke;
}

.header
{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: #dafbf0;
        z-index: 1;
        height: 60px;
        margin-bottom: solid black 1px ;
        padding-left: 25px;
        padding-right: 80px;
}

.navbar
{
   display: flex;
   justify-content: space-between; 
   gap: 30px;
   padding: 30px;
   /* margin-left: 30px; */
}

button
{
    color: white;
    font-size:x-small;
    background-color: black;
    height: 40px;
    width: 100px;
}


.info
{
    color: grey;
    margin-top: 20px;
}
.forclr
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #dafbf0 ;
    padding: 40px 30px 40px 30px;
}

.about
{   
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}

.options
{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
   
}

.box
{
    width: 25%;
    height: 300px;
    border: solid black 3px;
    text-align: center;
    padding: 7px;
}

.box p{
    margin: 20px;
}

hr
{
    border-top: 1px solid black;
}

.products
{
    background-color: #dafbf0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.onew,.threew
{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}

.twow
{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.plastic
{
    margin: 30px;
}

.bsell
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.customer
{
    background-color: #dafbf0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}
.femalepic
{
    position: relative;
    bottom: 30px;
    border: solid black 0.5px;
    float: left;
}

.newsletter
{
    display: flex;
    flex-direction: column;
    align-content:  center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;

}