*
{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:whitesmoke;
}

.header
{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: #dafbf0;
        z-index: 1;
        height: 60px;
        margin-bottom: solid black 1px ;
}

.navbar
{
   display: flex;
   justify-content: space-between; 
   gap: 10px;
   padding: 10px;
}

button
{
    color: white;
    font-size:x-small;
    background-color: black;
    height: 40px;
    width: 100px;
}

img
{
    float: right;
}

.info
{
    color: grey;
}
.forclr
{
    background-color: #dafbf0 ;
    padding: 30px;
}

.about
{
    text-align: center;
    background-color: whitesmoke;
}

.options
{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
   
}

.box
{
    width: 300px;
    height: 200px;
    border: solid black 1px;
    text-align: center;
    padding: 7px;
}

hr
{
    border-top: 1px solid black;
}

.products
{
    background-color: #dafbf0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.onew,.threew
{
    position: relative;
    bottom: 20px;
}

.twow
{
    position: relative;
    top: 20px;
}

.plastic
{
    padding-top: 40px;
}

.bsell
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
